@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h4 class="display-4">
        The perfect place for your kids to learn
    </h4>

    <div class="w3-cell-row w3-diplay-middle" style="width:100%;">

        <div class="w3-container w3-cell w3-cell-middle" style="width:60%;height:200px;">

            <img class="mySlides w3-animate-fading" style="width:100%;" src="https://media.istockphoto.com/vectors/fit-boys-girls-kids-training-doing-sport-exercises-smiling-children-vector-id1254829406?k=20&m=1254829406&s=612x612&w=0&h=-qSI9WWg8mICARwLVRi31-EsmrTWeBE5H4Q_J2kAk-A=">
            <img class="mySlides w3-animate-fading" src="https://www.kindpng.com/picc/m/51-510424_blackboard-frames-clip-art-set-royalty-free-cliparts.png" style="width:100%;">


        </div>

        <div class="w3-container w3-cell" style="width:10%">
        </div>

        <div class="w3-container w3-cell" style="width:30%;text-align:start;float:inline-end">
            <h3 class="home_message">take the opportunity and enroll your kids in fun and educational programs</h3>
        </div>
    </div>


</div>