@page

@{
    ViewData["Title"] = "Dashboard";
}

<h3> Admin Dashboard</h3>

<div class="w3-row w3-padding-top-48">
    <div class=" w3-third">
        <a asp-page="../Movies/Index">

            <div class="w3-card-4 text-center w3-padding-16">
                <img style="width:80%; " src="https://i.pinimg.com/originals/17/b4/2d/17b42d2f24bfa45906e4f2ed5495079a.jpg" alt="Movies">
                <div class="w3-container w3-center">
                    <h4 class="w3-text-black w3-hover-text-deep-purple">Manage Movies Library</h4>
                </div>
            </div>
        </a>

    </div>
</div>